@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.open-sources {
    display: block;
    width: 200px;
    height: 50px;
    border: #f5f5f5 1px solid;
    border-radius: 5px;
    background: #000;
    background-image: url('.././../../assets/icons/list.svg');
    background-repeat: no-repeat;
    background-position: right 10px bottom;
    padding-left: 15px;
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.open-sources:hover {
    transform: scale(97%);
    background-position: right 5px bottom;
}

.open-sources::after {
    content: 'Sources';
}

.blackout {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 50%;
  z-index: 25;
}

.blackout.on {
  display: block;
}

.sources {
    position: fixed;
    top: 0;
    right: -400px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100vh;
    overflow: auto;
    align-items: center;
    padding: 10px 20px;
    background-color: #2a2a2a;
    font: 300 1em 'Fira Sans', sans-serif;
    z-index: 30;
    transition: 0.3s;
  }

.sources::-webkit-scrollbar {
    width: 0;
}
  
.close-sources {
    position: sticky;
    top: 5px;
    align-self: end;
    border: 0;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.close-sources:hover {
    transform: scale(115%);
}

.sources.open {
    right: 0;
}

.source__item {
    width: 90%;
    background: none;
    /* border: 2px solid #fff; */
    border-radius: 10px;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #fff;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}

.source__item-name {
    font-weight: 400;
    /* white-space: nowrap; */
}

@media (max-width: 768px) {
    .open-sources {
        width: 70px;
    }

    .open-sources:hover {
        transform: rotate(180deg);
        background-position: right 10px bottom;
    }

    .open-sources::after {
        content: '';
    }

} 

@media (max-width: 350px) {
    .sources {
        width: 100vw;
    }
}
