@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: #2a2a2a;
    background: #fff;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #000;
    color: #fff;
    font-family: 'Abril Fatface', cursive;
}

header h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 800;
}

main {
    flex-grow: 1;
    min-height: calc(100vh - 100px - 192px);
    position: relative;
    margin-bottom: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: #000;
    color: #fff;
    z-index: 20;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer__link_github,
.footer__link_github:visited {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.footer__link_github:hover {
    color: #69db7e;
}
.footer__link_rs {
    width: 104px;
    height: 48px;
    border-radius: 10px;
    background-color: white;
    background-image: url('./assets/icons/rsschool.svg');
    background-size: 94px 38px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}
.footer__link_rs:hover {
    transform: scale(1.1);
}
.footer__link_rs a {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 10vw;
    }
    .footer__link_rs {
      width: 65px;
      height: 30px;
      border-radius: 8px;
      background-size: 54px 25px;
    }
}

@media (max-width: 450px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    footer {
        padding: 0 10px;
        gap: 10px;
    }
}
