@import '../../scss/common.scss';
header {
  position: sticky;
  top: 0;
	background: $color-light-xl;
	height: 120px;
	.container {
		display: flex;
		justify-content: space-between;
		padding: 30px 40px;
	}
}

.logo {
	.logo-link {
		padding-bottom: 25px;
		color: inherit;
		text-decoration: none;
		.logo-title {
      margin: 0 0 10px;
      font: $georgia-n-32;
      color: $color-dark-l;
      line-height: 110%;
      letter-spacing: $letter-spacing;
		}
		.logo-subtitle {
      margin: 0;
      font: $arial-n-13;
      color: $color-dark-3xl;
      line-height: 15px;
      letter-spacing: 0.1em;
      text-align: center;
		}
	}
}

.nav {
	.nav-list {
		display: flex;
		justify-content: space-between;
		gap: 35px;
		padding: 0;
		list-style: none;
		.nav-item {
			.nav-link {
				padding-bottom: 3px;
				font: $arial-n-15;
				color: $color-dark-l;
				line-height: 160%;
				text-decoration: none;
				&.active {
					border-bottom: 3px solid $color-primary;
				}
				&:hover {
					color: $color-dark-3xl;
					@extend %hover-interactive;
				}
			}
		}
	}
}

.pets {
  background-color: $color-light-l;
  .container {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
.section-heading {
	margin: 0 auto 60px;
  width: 400px;
	font: $georgia-n-35;
	color: $color-dark-l;
	line-height: 130%;
	letter-spacing: $letter-spacing;
  text-align: center;
}

.pets-cards {
		display: flex;
		justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-bottom: 60px;
	.pet-card {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 30px;
		width: 270px;
		height: 435px;
		background-color: $color-light-s;
		@extend %hover-interactive;
		&:hover {
			background-color: $color-light-xl;
			@extend %hover-interactive;
			.button-secondary {
				background-color: $color-primary-light;
				border-color: $color-primary-light;
				@extend %hover-interactive;
			}
		}
		.pet-card-title {
			font: $georgia-n-20;
			color: $color-dark-l;
			line-height: 23px;
			letter-spacing: $letter-spacing;
			text-align: center;
		}
	}
}

.button-secondary {
	border: 2px solid $color-primary;
	border-radius: 100px;
	width: 187px;
	height: 52px;
	background: transparent;
	font: $georgia-n-17;
	color: $color-dark-3xl;
	line-height: 130%;
	letter-spacing: $letter-spacing;
	@extend %hover-interactive;
	&:hover {
		background-color: $color-primary-light;
		border-color: $color-primary-light;
		@extend %hover-interactive;
	}
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 340px;
  button {
    border: 2px solid $color-primary;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    font: $georgia-n-20;
    line-height: 115%;
    letter-spacing: $letter-spacing;
    color: $color-dark-3xl;
    &.inactive {
      border-color: $color-dark-s;
      color: $color-dark-s;
    }
    &.active {
      background-color: $color-primary;
    }
    &.pagination-start {
      content: "<<";
    }
  }
}


footer {
	background: $footer-gradient;
	.container {
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
	}
	.contacts-info {
		padding-top: 16px;
		width: 279px;
	}
	.locations-info {
		padding-top: 16px;
		width: 302px;
	}
	.footer-img-wrapper {
		width: 300px;
		height: 310px;
		background-image: url('../../assets/images/footer-puppy.png');
		background-repeat: no-repeat;
		background-position: bottom right;
	}
}

.contacts-title,
.locations-title {
	margin: 0;
	margin-bottom: 40px;
	font: $georgia-n-35;
	color: $color-light-xl;
	line-height: 130%;
	letter-spacing: $letter-spacing;
}

.contacts-list,
.locations-list {
	padding: 0;
	list-style: none;
}

.e-mail-info,
.phone-info,
.location-item {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	padding-left: 60px;
	height: 32px;
	background-repeat: no-repeat;
	font: $georgia-n-20;
	color: $color-primary;
	line-height: 115%;
	letter-spacing: $letter-spacing;
	& a {
		color: inherit;
		text-decoration: none;
	}
}
.e-mail-info {
	background-image: url('../../assets/icons/icon-email.svg');
}
.phone-info {
	background-image: url('../../assets/icons/icon-phone.svg');
}
.location-item {
	padding-left: 42px;
	background-image: url('../../assets/icons/icon-marker.png');
}