.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  height: min-content;
  margin: 0;
  padding-bottom: 50px;
  @media (max-width: $desktop) {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
  }
  @media (max-width: $tablet), (min-width: $mobile) {
    padding: 0 0 40px;
  }
}

.bike {
  position: relative;
  display: grid;
  grid-template-columns: auto min-content;
  row-gap: 20px;
  max-width: 450px;
  padding: 20px;
  border: 1px solid $dark-grey;
  border-radius: 5px;
  @media (max-width: $mobile) {
    max-width: 355px;
    grid-template-columns: 1fr;
    justify-items: center;
    .add-button {
      justify-self: auto;
      order: 1;
    }
  }
  .bike__img {
    grid-column: 1 / 3;
    width: 100%;
    @media (max-width: $mobile) {
      grid-column: auto;
    }
  }
  .bike__title {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .bike__description {
    grid-column: 1 / 3;
    margin: 0;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    @media (max-width: $mobile) {
      grid-column: auto;
    }
  }
  .button-with-counter {
    display: flex;
    justify-self: end;
    font: {
      family: inherit;
      size: 18px;
    }
    @media (max-width: $mobile) {
      justify-self: auto;
    }
    .button-with-counter__main {
      @extend %interactive;
      width: 140px;
      height: 40px;
      border: 1px solid $black;
      border-radius: 1px;
      background-color: transparent;
      font: inherit;
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
    .button-with-counter__add,
    .button-with-counter__remove {
      @extend %interactive;
      display: none;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid $black;
      border-radius: 1px;
      background-color: $black;
      font: inherit;
      color: $white;
      &:hover {
        background-color: transparent;
        color: $black;
      }
    }
    .button-with-counter__counter {
      display: none;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 40px;
      vertical-align: middle;
      text-align: center;
      font: inherit;
    }
  }
  .flame {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    @include background($flame-icon);
  }
}
