html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: $lexend;
  color: $black;
  @include background($header-background);
  @media (max-width: 1024px) {
    @include background($header-background-tablet);
    background-position: top 50px;
  }
}