html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
  font-family: $lexend;
  color: $black;
  @include background($header-background);
}