.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 45px;
  background-color: $black;
  color: $white;
  font-size: 1.5rem;
  .github-link {
    @extend %normalized-link;
    @extend %interactive;
    &:hover,
    &:focus {
      @extend %interactive;
      text-decoration: underline;
    }
  }
  .rs-link {
    @extend %interactive;
    width: 130px;
    height: 60px;
    @include background($rs-icon);
    &:hover,
    &:focus {
      @extend %interactive;
      transform: scale(105%);
    }
  }
}
