.form {
  border-right: 1px solid $black;
  .form-section {
    position: relative;
    margin-bottom: 15px;
    padding-right: 40px;
    .form-section__title {
      display: block;
      margin: 0 0 15px;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  @media (max-width: $tablet) and (min-width: $mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    .form-section {
      margin: 0;
    }
  }
  @media (max-width:$tablet) {
    padding-bottom: 30px;
    border-right: 0;
    border-bottom: 1px solid $black;
    .form-section {
      padding: 0;
    }
  }
}

.search,
.sort {
  width: 100%;
  height: 35px;
  padding: 0 35px 0 10px;
  border: 1px solid $black;
  border-radius: 1px;
  color: $black;
  font-family: $lexend;
  font-weight: 200;
  font-size: 16px;
}

.search:focus,
.sort:focus {
  outline: none;
}

.search {
  @include background($magnifier-icon);
  background-size: 25px 25px;
  background-position: right;
}

.search::-webkit-search-cancel-button {
  @extend %interactive;
  width: 24px;
  height: 24px;
  appearance: none;
  @include background($close-icon)
}

.sort {
  @extend %interactive;
}

.checkbox-section {
  display: flex;
  align-items: center;
  gap: 15px;
  .checkbox {
    @extend %interactive;
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid $black;
    appearance: none;
    &::before {
      width: 20px;
      height: 20px;
      background-color: $dark-grey;
      content: '';
      transform: scale(0);
      transition: 120ms transform ease-in-out;
    }
    &:checked::before {
      transform: scale(1);
    }
  }
  .checkbox__title {
    @extend %interactive;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.filter {
  padding-left: 5px;
  font-weight: 200;
  .filter__title {
    font-weight: 400;
    font-size: 18px;
  }
  .filter__list {
    @extend %normalized-list;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 240px;
    padding: 10px 5px;
    border: 1px solid $black;
    .filter__item {
      @extend %interactive;
      padding-left: 5px;
      &:hover,
      &.active {
        @extend %interactive;
        background-color: $light-grey;
      }
    }
  }
  .color-filter__list {
    @extend %normalized-list;
    display: flex;
    gap: 12px;
    .color-filter__item {
      @extend %interactive;
      position: relative;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      
      &:nth-child(1) {
        outline: $black 1px solid;
      }
      &:nth-child(2) {
        background-color: $green;
      }
      &:nth-child(3) {
        background-color: $blue;
      }
      &:nth-child(4) {
        background-color: $black;
      }
      &::before {
        position: absolute;
        top: -4px;
        left: -4px;
        width: 33px;
        height: 33px;
        border: 2px solid $dark-grey;
        border-radius: 33px;
        content: '';
        transition: 0.5s;
        opacity: 0;
      }
      &:hover::before,
      &.active::before {
        opacity: 1;
      }
    }
  }
}

.reset-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .reset-button {
    @extend %interactive;
    width: 240px;
    height: 58px;
    border: 1px solid $black;
    background-color: transparent;
    font: {
      family: inherit;
      weight: 200;
      size: 22px;
    }
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

@media (max-width: $tablet) and (min-width: $mobile) {
  .form-section:nth-child(4) {
    grid-row: 1 / 5;
    order: -2;
  }
}