.header {
  position: relative;
  padding: 70px;
  color: $white;
  @media (max-width: $tablet) {
    padding: 5vw ;
  }
  .header__title {
    margin: 0;
    font: {
      family: $monoton;
      weight: 400;
      size: 6rem;
    }
    @media (max-width: 1024px) {
      font-size: 8vw;
    }
    @media (max-width: 1024px) {
      width: 50vw;
      line-height: 8vw;
    }
  }
  .shopping-cart {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 70px;
    height: 70px;
    @include background($cart-icon);
    .shopping-cart__counter {
      position: absolute;
      right: -15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background-color: $dark-grey;
      font-size: 1.25rem;
    }
    @media (max-width: $mobile) {
      top: 5vw;
      right: 5vw;
      width: 10vw;
      height: 10vw;
      .shopping-cart__counter {
        right: -2vw;
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
      }
    }
  }
}