.main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0 45px;
  padding: 60px 40px 0;
  border-radius: 20px;
  background-color: $white;
  @media (max-width: $tablet) {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
  }
  @media (max-width: $mobile) {
    margin: 0 10px;
    padding: 20px;
  }
}