.warning-message {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: max-content;
  height: 200px;
  padding: 15px;
  background-color: $orange;
  font: {
    family: $lexend;
    size: 18px;
  }
  color: $white;
  text-align: center;
  @media (max-width: $desktop) {
    width: 30vw;
    height: 15vw;
    padding: 1vw;
    font-size: 2vw;
  }
  .warning-message__close-button {
    @extend %interactive;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    width: 2vw;
    padding: 0.2vw;
    border: 0;
    background-color: transparent;
    &::before {
      content: 'X';
      color: $white;
    }
  }
}
