.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .slider-value {
    min-width: 36px;
    text-align: center;
  }
}
.noUi-target {
  width: 100%;
  height: 8px;
  margin: 0 15px 0;
  border: 0;
  background-color: $light-grey;
}
.noUi-connect {
  background-color: $black;
}

.noUi-horizontal .noUi-handle {
  right: -10px;
  width: 20px;
  height: 20px;
}
.noUi-handle {
  border-radius: 10px;
  border: 0;
  background-color: $black;
  box-shadow: none;
  &::after,
  &::before {
    display: none;
  }
}
.noUi-tooltip {
  padding: 2px;
  border-color: $dark-grey;
  font-size: 14px;
}