@import 'https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700&family=Monoton&display=swap';

@import '../node_modules/normalize-scss/sass/normalize';

@import './style/utilities/variables';
@import './style/utilities/extends';
@import './style/utilities/mixins';

@import './style/components/common';
@import './style/components/header';
@import './style/components/footer';
@import './style/components/main';
@import './style/components/forms';