%normalized-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-family: inherit;
}

%normalized-list {
  padding: 0;
  list-style: none;
}

%interactive {
  cursor: pointer;
  transition: 0.5s;
}

%car {
  -webkit-mask-image: $car;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: $car;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: black;
}

%arrow {
  padding-right: 30px !important;
  background-position: bottom 50% right 5px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}