$white: #FFFFFF;
$black: #212121;
$transparent-black: rgb(33, 33, 33, 0.5);
$light-grey: #D9D9D9;
$dark-grey: #B0B0B0;
$orange: #faa357;
$green: #93FAD5;

$lexend: 'Lexend Deca', sans-serif;

$car: url('./assets/svg/car.svg');
$flag: url('./assets/svg/flag.svg');
$arrow-asc: url('./assets/svg/arrow-asc.svg');
$arrow-desc: url('./assets/svg/arrow-desc.svg');
$rs-icon: url('./assets/svg/rsschool.svg');
