html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
	@media (max-width: ($desktop - 1px)) {
		padding: 0 30px;
	}
	@media (max-width: ($tablet - 1px)) {
    padding: 0 10px;
	}
}