footer {
	background: $footer-gradient;
	.container {
		display: flex;
		justify-content: space-between;
    flex-wrap: wrap;
		padding-top: 40px;
    @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    justify-content: center;
    gap: 24px 60px;
    padding-top: 30px;
    }
    .contacts-info {
      padding-top: 16px;
      width: 279px;
      @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      padding-top: 0;
      }
    }
    .locations-info {
      padding-top: 16px;
      width: 302px;
      @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        padding-top: 0;
      }
    }
    .footer-img-wrapper {
      width: 300px;
      height: 310px;
      background-image: url('../../assets/images/footer-puppy.png');
      background-repeat: no-repeat;
      background-position: bottom right;
    }
	}
}

.contacts-title,
.locations-title {
	margin: 0;
	margin-bottom: 40px;
  @include typography($georgia-n-35, $color-light-xl, 130%, $letter-spacing);
}

.contacts-list,
.locations-list {
	@extend %normalize-list;
}

.e-mail-info,
.phone-info,
.location-item {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	height: 32px;
	background-repeat: no-repeat;
  @include typography($georgia-n-20, $color-primary, 115%, $letter-spacing);
	& a {
		padding-left: 60px;
		@extend %normalize-link;
	}
}
.e-mail-info {
	background-image: url('../../assets/icons/icon-email.svg');
}
.phone-info {
	background-image: url('../../assets/icons/icon-phone.svg');
}
.location-item {
	background-image: url('../../assets/icons/icon-marker.png');
	& a {
		padding-left: 42px;
	}
}