footer {
	background: $footer-gradient;
	.container {
		display: flex;
		justify-content: space-between;
    flex-wrap: wrap;
		padding-top: 40px;
    @media (max-width: ($desktop - 1px)) and (min-width: 1061px) {
      padding-left: 150px;
      padding-right: 150px;
    }
    @media (max-width: ($desktop - 1px)) {
      justify-content: center;
      gap: 24px 60px;
      padding-top: 30px;
    }
    @media (max-width: ($tablet - 1px)) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    .contacts-info {
      padding-top: 16px;
      width: 279px;
      @media (max-width: ($desktop - 1px)) {
      padding-top: 0;
      }
    }
    .locations-info {
      padding-top: 16px;
      width: 302px;
      @media (max-width: ($desktop - 1px)) {
        padding-top: 0;
      }
    }
    .footer-img-wrapper {
      width: 300px;
      height: 310px;
      background-image: url('../../assets/images/footer-puppy.png');
      background-repeat: no-repeat;
      background-position: bottom right;
      @media (max-width: ($tablet - 1px)) {
        width: 260px;
        height: 269px;
        background-size: 260px 269px;
      }
    }
	}
}

.contacts-title,
.locations-title {
	margin: 0;
	margin-bottom: 40px;
  @include typography($georgia-n-35, $color-light-xl, 130%, $letter-spacing);
  @media (max-width: ($tablet - 1px)) {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 25px;
    text-align: center;
  }
}

.locations-title {
  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 45px;
  }
}

.contacts-list,
.locations-list {
	@extend %normalize-list;
  @media (max-width: ($tablet - 1px)) {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }
}

.contacts-list {
  @media (max-width: ($tablet - 1px)) {
    align-items: center;
  }
}

.locations-list {
  @media (max-width: ($tablet - 1px)) {
    gap: 45px;
  }
}

.e-mail-info,
.phone-info,
.location-item {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	height: 32px;
	background-repeat: no-repeat;
  @include typography($georgia-n-20, $color-primary, 115%, $letter-spacing);
	& a {
		padding-left: 60px;
		@extend %normalize-link;
	}
  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 0;
    & a {
      display: block;
    }
  }
}
.e-mail-info {
	background-image: url('../../assets/icons/icon-email.svg');
}
.phone-info {
	background-image: url('../../assets/icons/icon-phone.svg');
}
.location-item {
	background-image: url('../../assets/icons/icon-marker.png');
	& a {
		padding-left: 42px;
	}
}