.modal-window {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 900px;
  height: 500px;
  border-radius: 9px;
  background-color: $color-light-s;
  z-index: 5;
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  @media (max-width: ($desktop - 1px)) {
    width: 630px;
    height: 350px;
  }
  @media (max-width: ($tablet - 1px)) {
    width: 240px;
    min-height: 341px;
    height: max-content;
  }
  .modal-window-img {
    border-radius: 9px;
    @media (max-width: ($tablet - 1px)) {
      display: none;
    }
  }
  .modal-window-info {
    padding: 50px 20px 0px 29px;
    @media (max-width: ($desktop - 1px)) {
      padding: 10px 8px 0px 11px;
    }
    @media (max-width: ($tablet - 1px)) {
      padding: 10px;
    }
    .modal-window-title {
      margin: 0;
      @include typography($georgia-n-35, black, 130%, $letter-spacing);
      @media (max-width: ($tablet - 1px)) {
        text-align: center;
      }
    }
    .modal-window-subtitle {
      margin-top: 10px;
      margin-bottom: 40px;
      @include typography($georgia-n-20, black, 115%, $letter-spacing);
      @media (max-width: ($desktop - 1px)) {
        margin-bottom: 20px;
      }
      @media (max-width: ($tablet - 1px)) {
        text-align: center;
      }
    }
    .modal-window-pet-info {
      margin: 0;
      margin-bottom: 40px;
      @include typography($georgia-n-15, black, 110%, $letter-spacing);
      @media (max-width: ($desktop - 1px)) {
        margin-bottom: 20px;
        font-size: 13px;
      }
      @media (max-width: ($tablet - 1px)) {
        margin-bottom: 24px;
        text-align: justify;
      }
    }
    .modal-window-info-list {
      margin: 0;
      padding-left: 14px;
      li::marker {
        color: $color-primary;
      }
      li {
        margin-bottom: 10px;
        @include typography($georgia-n-15, black, 110%, $letter-spacing);
        @media (max-width: ($desktop - 1px)) {
          margin-bottom: 5px;
        }
        span {
          font-weight: 700;
        }
      }
    }
  }
}