$white: #FFFFFF;
$black: #212121;
$light-grey: #D9D9D9;
$dark-grey: #B0B0B0;
$orange: #F39F20;
$green: #93FAD5;
$blue: #158BF9;

$monoton: 'Monoton', cursive;
$lexend: 'Lexend Deca', sans-serif;

$flame-icon: url('./assets/svg/popular.svg');
$rs-icon: url('./assets/svg/rsschool.svg');
$cart-icon: url('./assets/svg/shopping-cart.svg');
$magnifier-icon: url('./assets/svg/magnifier.svg');
$close-icon: url('./assets/svg/close.svg');

$header-background: url('./assets/header-background.png');
$header-background-tablet: url('./assets/header-background-tablet.png');

$desktop: 1280px;
$tablet: 860px;
$mobile: 630px;
