.section__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 15px 5px;
  width: 300px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .form__color-input {
    border: 0;
  }
}

.create-form,
.update-form {
  grid-column: 1 / 4;
}

.cars-list {
  @extend %normalized-list;
  .cars-list__item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: $dark-grey 2px dashed;
    background-image: $flag;
    background-repeat: no-repeat;
    background-position: bottom 0px right 120px;
    background-size: contain;
    .car__image {
      @extend %car;
      width: 100px;
      height: 30px;
    }
    .car__finish-point {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100px;
      height: 30px;
    }
    .control-buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      grid-row: 1 / 3;
      .button {
        border: transparent 2px solid;
        background-color: white;
        &:hover {
          border: $dark-grey 2px solid;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  gap: 10px;
}
