.tabs {
  width: 100%;
  height: 5vh;
  background-color: $white
}

.tab-button {
  @extend %normalized-button;
  @extend %interactive;
  width: 100px;
  height: 100%;
  &.tab-button_active {
    background-color: $light-grey;
  }
}